<head>
    <script src="https://gumroad.com/js/gumroad-embed.js"></script>
    <title>Data Science is Fun!</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>How would your article perform on a Data Science blog?</h1>
    <div id="cover">
        <form method="post" action="{{ url_for('predict') }}">
            <div class="tb">
                <div class="td"><input type="text" placeholder="Your Title ..." name="title" required></div>
                <div class="td" id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="gumroad-product-embed" data-gumroad-product-id="mjyDQ" data-outbound-embed="true"><a href="https://gumroad.com/l/mjyDQ">Loading...</a></div>
</body>
