<head>
    <script src="https://gumroad.com/js/gumroad-embed.js"></script>

    <title>Machine Learning in the Cloud</title>
    <meta name="description" content="How to train a Machine Learning model, build a Web Application and deploy it to the Cloud."/>

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/landing-page.min.css" rel="stylesheet">

    <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="./">Your First Machine Learning Model in the Cloud</a>
            <div>
            <a class="btn btn-primary" href="https://gumroad.com/romanorac">Gumroad</a>
            <a href="https://twitter.com/romanorac"> <i class="fab fa-twitter-square fa-2x fa-fw"></i> </a>
            </div>
        </div>
    </nav>


    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">How would "{{title}}" perform on a Data Science blog?</h1>
                </div>
            </div>
        </div>
    </header>

    <div id='inner'>
        <h1>Feature Importance</h1>
        {{explain}}
    </div>
    <div class="gumroad-product-embed" data-gumroad-product-id="mjyDQ" data-outbound-embed="true"><a href="https://gumroad.com/l/mjyDQ">Loading...</a></div>
</body>
